body{
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
p{
  color: #E7E7E7;
}
h1,h3{
  color:white;
}
h4{
  color:black;
}
h5{
  color:white;
  padding-bottom: 1rem;
  padding-left: 4rem;
}

.home2{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #323232;
}
.wrapper{
  position: absolute;
  display: flex;
}
.static{
  font-size: 60px;
  font-weight: 400;
  color: white;
}
.dynamic{
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}
.dynamic li{
  list-style: none;
  color: #517459;
  font-size: 60px;
  font-weight: 500;
  top: 0;
  position: relative;
  animation: slide 12s steps(3) infinite;
  
}
.dynamic li::after{
  content: "";
  position: absolute;
  left: 0;
  background-color: #323232;
  height: 100%;
  width: 100%;
  border-left: 2px solid #517459;
  animation: type 4s steps(21) infinite;
}


#about{
  background-color: #212529;
}
#skills{
  background-color: #4C4D4D;
}
#projects{
  background-color: #212529;
}
section {  
  position: relative;
  padding: 8rem 0;
  overflow: hidden;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.text-24 {
  font-size: calc(3rem + 6vw) !important;
}
.lh-base {
  line-height: 1.5!important;
}
.text-9 {
  font-size: 2.25rem !important;
}
.opacity-1 {
  opacity: 0.2;
}
.img{
  width: 100%;
  padding: 0%;
}
.cards {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.cards ul li {
  margin: 0 0 40px;
  width: 50%;
  padding-left: 40px;
}
.cards ul {
  margin: 0 0 0 -40px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.inner_card {
  background-color: #323232;
  border: none;
  width: 100%;
  height: 100%;
  clear: both;
  float: left;
  position: relative;
  padding: 45px 30px 40px;
  transition: all .3s ease;
  cursor: pointer;
}

/* homepage */
.text-16 {
  font-size: calc(0.6rem + 1vw) !important;
}
.hero-wrap {
position: relative;
overflow: hidden;
}
.hero-bg{
position: absolute;
top: 0;
left: 0;
}
.home-img{
  width: 100%;
  min-height: 100vh;
  padding: 0%;
}
.hero-content {
position: relative;
z-index: 1;
}
.min-vh-100 {
min-height: 100vh!important;
}
.d-flex {
display: flex!important;
}
.my-auto {
margin-top: auto!important;
margin-bottom: auto!important;
}


#main {
width: 100%; 
height: 229px;
display: flex;
justify-content: center;
align-items: center;
}
.typed {
display: inline-block;
width: 16ch;
font: bold 200% Consolas, Monaco, monospace;   
overflow: hidden;
white-space: nowrap;
font-weight: 500;
border-right: 1px solid transparent;
animation: typing 3.5s steps(16), caret .7s steps(1) infinite;
}
.delay{
display: inline-block;
width: 25ch;
font: bold 200% Consolas, Monaco, monospace;   
overflow: hidden;
white-space: nowrap;
font-weight: 500;
border-right: 1px solid transparent;

animation: stop 3.5s,typing 9s steps(25), caret .7s steps(1) infinite;

}

@keyframes type{
40%,
60% {
    left: calc(100% + 30px);
}
100%{
  left: 0;
}
}
@keyframes slide{
100%{
  top: -270px;
}
}

@keyframes typing{
33% {
    width: 0;
}
}
@keyframes caret{
50% { border-right-color: white}
}

@keyframes stop{
from {
    opacity: 0;
}
to {
  opacity: 0;
}
}
